```{=html}
<ul>
<% for (const item of items) { %>
  <li>
    <a href="<%- item.href %>"><%= item.name %></a><br/>
    <%= item['subtitle'] %>
    <a href="<%- item.code %>" title="View source code">
        <i class="bi-code-slash"></i></i>
    </a>
  </li>
<% } %>
</ul>
```